
div#conference{
	margin-top: 20px;
	margin-left: 0px;
	margin-right:50px;
	background:#333333;
	border-radius: 5px;	
	width:300px;
	height:300px;
	overflow: auto;
}

div#conference .title{
    color: white;
    text-align:left;
    margin-left:10px;
    margin-bottom:-5px;
	font-weight:bold;
	font-family: "Lato", sans-serif;
	font-size:0.9em;
	background:transparent;
	text-decoration:none;
	
}

div#conference ul.menu li a{
	float:left;
	color:#ffffff;
	
}



div#conference li {
  color: white; /* bullet color */
   margin-bottom:10px;
   margin-top:10px;
   margin-left:-15px;
	
}
div#conference ul {
border-top: 1px solid #404040;
}

#conference a:link, 
#conference a:visited, 
#conference a:hover { 
	color:#fff;
}



